@import "tailwindcss";

:root {
    --background: #141414;
    --foreground: #ededed;
    --accent: #4ade80;
}

@theme {
    --color-black: #141414;
    --color-white: #EAEAEA;
    --color-gray-elements: #808080;
    --color-gray-gradient: #7B7B7B;
    --color-lime-default: #CEF17B;
    --color-lime-active: #C0FF2B;
    --color-red-error: #FF0E0E;
    --color-text-grad-dbg: #626262;
    --breakpoint-3xl: 120rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 0.6s ease-out both;
}

.levitate {
    opacity: 1;
    transform: translateY(0);
    animation: levitateAnim 3s ease-in-out infinite;
}

@keyframes levitateAnim {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #EAEAEA;
        --foreground: #ededed;
    }
}

@layer utilities {
    .border-corners::before,
    .border-corners::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-color: black;
    }

    /* Верхний левый */
    .border-corners::before {
        top: 0;
        left: 0;
        border-top: 2px solid;
        border-left: 2px solid;
    }

    /* Нижний правый */
    .border-corners::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid;
        border-right: 2px solid;
    }
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    -webkit-overflow-scrolling: auto; /* отключает инерцию */
}

/* 3D Cube Styles */
.perspective-1000 {
    perspective: 1000px;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
}


.range-input::-webkit-slider-runnable-track {
    height: 2px; /* ← толщина трека */
}

.range-input::-moz-range-track {
    height: 2px; /* ← толщина трека для Firefox */

}

.font-inter-tight {
    font-family: var(--font-inter-tight), sans-serif;
}


.title {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
}

.bg-cube-pattern {
    background-image: url('/cube-bg-2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.subtitle {
    font-family: var(--font-inter-tight), 'Inter Tight', sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .own-container {
        box-sizing: border-box;
        padding: 80px 20px 80px 20px;
    }

    .inside-container {
        box-sizing: border-box;
        padding: 80px 20px 0px 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .own-container {
        box-sizing: border-box;
        padding: 100px 36px 100px 36px;
    }

    .inside-container {
        box-sizing: border-box;
        padding: 100px 36px 100px 36px;
    }

}

@media (min-width: 1280px) and (max-width: 1919px) {
    .own-container {
        box-sizing: border-box;
        padding: 100px 100px 100px 100px;
    }

    .inside-container {
        box-sizing: border-box;
        padding: 100px 100px 100px 100px;
    }
}


@media (min-width: 1920px) {
    .own-container {
        box-sizing: border-box;
        padding: 180px 312px 180px 312px;
    }

    .inside-container {
        box-sizing: border-box;
        padding: 180px 312px 180px 312px;
    }
}

html.disable-scroll {
    overflow: hidden;
}

#circle {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 138vmax;
    height: 138vmax;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background-color: #141414;
    overflow-x: hidden;
}
